{{ define "main" }}

<div class="flex flex-col min-h-screen">

    <div class="container mx-auto bg-stone-500 py-12">

        <div class="flex flex-col items-center mt-12">

            <span class="px-2 text-white text-6xl md:text-6xl font-bold bg-black"> Projects</span>



        </div>


        <div class="flex flex-col  text-black font-semibold bg-red-500 mt-16">
            {{ range .Pages }}
            <div class="flex-col m-2">
                <div>
                    <h1 class="text-lg md:text-5xl"><a href="{{ .RelPermalink }}"> {{ .Title }}</a></h1>
                </div>
                <div class="flex flex-row justify-between py-4 bg-red">
                    <div>
                        {{ range .Params.tags }}
                        <a class="tag text-cs md:text-xl  font-bold bg-black text-white p-1"
                            href="/tags/{{ . | urlize}}">{{
                            .
                            }}</a>
                        {{ end }}
                    </div>
                    <p class="text-xs md:text-xl  justify-center font-thin italic">{{ .Date.Format "January 2, 2006" }}
                    </p>
                </div>
            </div>
            {{ end }}
        </div>

    </div>




</div>


{{ end }}