{{ define "main" }}

<div class="flex flex-col min-h-screen">

    <div class="container mx-auto py-12">

        <div class="flex flex-col items-center mt-12">

            <span class="px-2 text-white text-6xl md:text-6xl font-bold bg-black"> Projects</span>



        </div>


        <div class="flex flex-col  text-black font-semibold mt-16 items-center">
            {{ range .Pages }}
            <div class="flex flex-row m-6 items-center shadow-xl rounded-lg ">
                <img class="p-2" width="200" height="200" src="https://via.placeholder.com/150">
                <div class="p-2  flex flex-col">



                    <div class="flex flex-row  justify-between items-center py-4">
                        <h1 class="text-lg md:text-5xl"><a href="{{ .RelPermalink }}"> {{ .Title }}</a></h1>

                        <div>
                            {{ range .Params.tech_used }}
                            <a class="tag text-cs md:text-xl  font-mono font-bold bg-black text-white p-1">{{
                                .
                                }}</a>
                            {{ end }}
                        </div>


                    </div>
                    <div>
                        <p class="prose  p-1">{{ .Summary}}</p>

                    </div>

                </div>

            </div>
            {{ end }}
        </div>

    </div>




</div>


{{ end }}