{{ define "main" }}

<div class="flex flex-row justify-center w-full  fixed inset-x-0 top-0 h-16 items-center space-x-4">

	<a class="nav  text-2xl px-2 font-bold text-amber-50" href="/">Home</a>
	<a class="nav  text-2xl px-2 font-bold text-amber-50" href="/posts">Blog</a>

</div>
<div class="w-full bg-slate-900">
	<div class="flex flex-col w-full px-6 pt-8  mx-auto max-w-prose  min-h-screen ">

		<div class="justify-self-start flex flex-col pt-12">
			<h1 class="text-4xl text-amber-50 md:text-8xl font-bold">Recent Posts</h1>


		</div>

		<div class="flex flex-col py-6  text-slate-300 font-semibold">
			{{ range .Pages }}
			<div class="flex-col py-4">
				<div class="flex flex-row items-center px-2">
					<p class="text-xs md:text-xl  justify-center font-thin ">{{ .Date.Format "January 2, 2006" }}
					</p>

					<div class="flex flex-row justify-between py-4 px-2">
						<div>
							{{ range .Params.tags }}
							<a class="tag text-cs md:text-xl font-normal bg-red-500 text-gray-100 p-1 rounded-lg"
								href="/tags/{{ . | urlize}}">{{
								.
								}}</a>
							{{ end }}
						</div>
					</div>

				</div>



				<div
					class="border-purple-700 rounded-lg hover:bg-gray-500 hover:opacity-25 hover:border-gray-50 hover:border-1 p-4 border-2">
					<h1 class="text-lg md:text-4xl"><a href="{{ .RelPermalink }}"> {{
							.Title }}</a></h1>
				</div>

			</div>
			{{ end }}
		</div>

	</div>

</div>


{{ end }}