{{ define "main" }}
<div class="flex flex-row min-h-screen justify-center w-full">

	<div class="flex flex-col items-center">

		<header class="text-black pt-10 pb-24 items-center w-3/4">
			<div>
				<h1 class="text-2xl font-thin p-2">{{ .Date.Format "January 2, 2006" }}</h1>
				<h1 class="text-6xl font-bold"> {{ .Title }} </h1>
				<div class="flex flex-row pt-4">
					<p class="mr-4 text-xl">
						tags: {{ .Params.tags }}
					</p>
					<p class="mr-4 text-xl">
						Reading time: {{ .ReadingTime}}m
					</p>
				</div>

			</div>

		</header>

		<article class="prose lg:prose-xl  items-center">
			<section class="body">
				{{ .Content}}
			</section>
		</article>

	</div>


</div>
{{ end }}