{{ define "main" }}
<div class="flex flex-row  min-h-screen w-full bg-zinc-900">


	<div class="flex flex-col  mx-auto  justify-center items-center  2xl:max-w-6xl">

		<div class="text-amber-50 mt-24 p-8 w-128 mx-autoitems-center">

			<h1 class="text-4xl md:text-8xl font-bold"> {{ .Title }} </h1>
			<div class="py-2">
				<span class="md:text-2xl border-purple-700 p-2 border-2 rounded-xl text-amber-50 font-semibold ">
					{{ .Date.Format "January 2,2006"}}</span>

			</div>
			<div class="flex flex-row pt-4 items-center">

				<div>
					{{ range .Params.tags }}
					<a class="tag text-cs md:text-xl font-normal bg-red-500 text-gray-100 p-1 rounded-lg"
						href="/tags/{{ . | urlize}}">{{
						.
						}}</a>
					{{ end }}
				</div>

				<p class="p-1 mr -1 text-xs mr-4 md:text-xl font-bold">
					Reading time: {{ .ReadingTime}}m
				</p>
			</div>

		</div>

		<div class="prose lg:prose-2xl  md:p-4 w-full p-3">
			{{ .Content}}
		</div>



	</div>



</div>
{{ end }}