{{ define "main" }}
<div class="flex flex-row min-h-screen  py-16 px-4">

    <div class="container mx-auto p-8">
        <div class="flex items-center justify-between">
            <h1 class="text-3xl font-bold">Tomas Ertola</h1>
            <img src="https://via.placeholder.com/150" alt="Profile picture" class="w-24 h-24 rounded-full" />
        </div>
        <div class="mt-8 text-gray-700">
            <h2 class="text-2xl font-bold">Work Experience</h2>
            <div class="mt-4">
                <h3 class="text-xl font-bold">Product Data Analyst</h3>
                <div class="flex flex-row"><img width="48"
                        src="https://media.licdn.com/dms/image/D4D0BAQEwxdiNWB86IQ/company-logo_100_100/0/1664287504775?e=1680739200&v=beta&t=WOzncccLHoQrQHWg0foPD68_cPlclJqSiAjBYYdESSI"
                        height="48">

                    <p class="mt-2"><a href="https://glovoapp.com/" target="_blank">Glovo</a>(Nov 2021 - Dec 2022)</p>
                </div>

            </div>


            <div class="mt-4">
                <h3 class="text-xl font-bold">Data Scientist</h3>
                <div class="flex flex-row">
                    <img width="48"
                        src="https://media.licdn.com/dms/image/C4D0BAQGfHTq2hMCPVg/company-logo_100_100/0/1591124348931?e=1680739200&amp;v=beta&amp;t=8ZSL-HG6Dz-FBvoncyQfO-l-3T4OfutqcteHzoiUCsE"
                        height="48">
                    <p class="mt-2"><a href="https://www.bancodelsol.com/" target="_blank">Banco del Sol</a> (Nov 2020 -
                        Nov 2021)</p>
                </div>

            </div>

            <div class="mt-4">
                <h3 class="text-xl font-bold">Jr. Data Scientist</h3>
                <div class="flex flex-row">

                    <img width="48"
                        src="https://media.licdn.com/dms/image/C4E0BAQHku1KwibZnRg/company-logo_100_100/0/1552056399340?e=1680739200&amp;v=beta&amp;t=Cx4CjxwT9OhMk4c89kSu7Ckdk1aai3CSTFX6siSoe08"
                        height="48">
                    <p class="mt-2"><a href="https://leafnoise.io/" target="_blank">Leafnoise</a> (Feb 2020 - Nov 2020)
                    </p>

                </div>

            </div>
        </div>
        <div>
            <div class="mt-8 text-gray-700">
                <h2 class="text-2xl font-bold">Education</h2>
                <div class="mt-4">
                    <h3 class="text-xl font-bold">Bachelor of Science in Computer Science</h3>
                    <p class="mt-2">University of Technology</p>
                </div>
                <div class="mt-4">
                    <h3 class="text-xl font-bold">Associate of Science in Computer Science</h3>
                    <p class="mt-2">Community College</p>
                </div>
            </div>
            <div class="mt-8 text-gray-700">
                <h2 class="text-2xl font-bold">Stack</h2>
                <div class="mt-4">
                    <ul class="mt-4">
                        <li>Java</li>
                        <li>JavaScript</li>
                        <li>HTML/CSS</li>
                        <li>Python</li>
                        <li>React</li>
                        <li>Node.js</li>
                        <li>Git</li>
                        <li>Linux</li>
                    </ul>
                </div>
            </div>
        </div>
        {{ end }}