{{ define "main" }}



<article class="flex flex-col items-center min-h-screen">

    <div class="ml-6 pt-16 justify-self-strat flex flex-col">

        <span class="p-2 text-white text-2xl md:text-4xl font-bold bg-black"> {{ .Page.Title }}</span>

    </div>

    <div class="py-6">

        {{ range .Data.Terms.Alphabetical}}

        <div class="flex flex-row py-4 justify-center">

            <div class="p-1 bg-black text-white font-bold">

                <a class="sm:text-lg md:text-2xl" href="{{ .Page.Permalink}}">
                    {{ .Page.Title }}
                </a>
                <span class="sm:text-lg md:text-2xl "> [{{ .Count }}]</span>

            </div>



        </div>




        {{ end }}


    </div>



</article>


{{ end }}