<head>
         <meta charset="utf-8">
		 <meta name="viewport" content="width=device.width, initial-scale=1">
		 <!-- site title -->
		 <title> {{ .Site.Title}} </title>
		 <!-- google fonts -->
		 <link rel="preconnect" href="https://fonts.googleapis.com">
		 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		 <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
		 <!-- style sheets -->
		 <link rel="stylesheet" href="{{ "css/style.css"|relURL }}">
		 <link rel="stylesheet" href="{{ "css/syntax.css"| relURL }}">
		 <!-- desccription -->
		 <meta name="author" content="{{ .Site.Params.author }}">
		 <meta name="description" content="{{ .Site.Params.description }}">
		
  </head>

