@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }

    .will-change-transform {
        will-change: transform;
    }

    .nav {
        @apply relative border-amber-50 text-2xl font-sans font-extrabold tracking-tighter
    }

    .nav::after {
        @apply content-[''] bg-amber-50 h-[3px] w-[0%] -left-0 -bottom-[5px] absolute duration-500
    }

    .nav:hover::after {
        @apply w-[100%]
    }

    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .wave svg {
        position: relative;
        display: block;
        width: calc(147% + 1.3px);
        height: 137px;
    }

    .wave .shape-fill {
        fill: #D25380;
    }

    .wave2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .wave2 svg {
        position: relative;
        display: block;
        width: calc(163% + 1.3px);
        height: 149px;
    }

    .wave2 .shape-fill {
        fill: #116D6E;
    }

    .wave3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .wave3 svg {
        position: relative;
        display: block;
        width: calc(142% + 1.3px);
        height: 231px;
    }

    .wave3 .shape-fill {
        fill: #4CC9F0;
    }

    html {
        scroll-behavior: smooth;
    }

}