@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }

    .will-change-transform {
        will-change: transform;
    }

    .nav {
        @apply relative border-orange-800 text-xl font-sans font-extrabold p-4 border-2 tracking-[1px]
    }

    .nav::after {
        @apply content-[''] bg-orange-800 h-[3px] w-[0%] -left-0 -bottom-[5px] absolute duration-500
    }

    .nav:hover::after {
        @apply w-[100%]
    }

    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .wave svg {
        position: relative;
        display: block;
        width: calc(147% + 1.3px);
        height: 137px;
    }

    .wave .shape-fill {
        fill: #065f46;
    }
}

.cursor::after {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: cursor 0.6s linear infinite alternate;
    will-change: opacity;
}